<% provide(:title , "Give Me Recipes") %>
<div class="large-8 small-12 large-centered columns">
	<h3 class="center">Give Me Recipes: </br>
	Find. Create. Plan.</h3>
<ul class="example-orbit" data-orbit>
  <li>
    <%=image_tag("examples/beef.jpg", alt: "Example Image")%>
    <div class="orbit-caption">
      Beef
    </div>
  </li>
  <li class="active">
    <%=image_tag("examples/chicken.jpg", alt: "Example Image")%>
    <div class="orbit-caption">
      Chicken
    </div>
  </li>
  <li>
    <%=image_tag("examples/fish.jpg", alt: "Example Image")%>
    <div class="orbit-caption">
      Fish
    </div>
  </li>
</ul>
</div>