<li class="recipe">
 <h3>
 	<%= link_to meal.recipe.name.capitalize, meal.recipe %>
 	 - by <a href= <%= user_path(meal.recipe.user) %> >
 	 <%= meal.recipe.user.email %> </a><br>
 	  for: <%= meal.for_date %>
 </h3>
</li>